<div class="container">
  <div class="row">
    <div class="col">
      <div class="card">
        <div class="card-header">
          <h6 class="text-center">
            Escolha o Algoritimo
          </h6>
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-sm-12 col-md-6">
              <form>
                <div class="form-row">
                  <div class="form-group col">
                    <label for="algoritimo">Algoritimo</label>
                    <select [(ngModel)]='this.taskService.algoritimo' name="algoritimo" id="algoritimo" class="form-control">
                      <option value="FIFO">FIFO</option>
                      <option value="CURTO">CURTO PRIMEIRO</option>
                      <option value="PRIO">PRIORIDADE</option>
                      <option value="CIR">CIRCULAR</option>
                      <option value="TDS">TODOS</option>
                    </select>
                  </div>
                </div>
              </form>
              <p>
                <strong>Titulo</strong>
              </p>
              <p>Acima de tudo, é fundamental ressaltar que o desafiador cenário globalizado possibilita uma melhor visão global
                dos níveis de motivação departamental.</p>
            </div>
            <div class="col-sm-12 col-md-6">
              <p>
                <strong>Titulo</strong>
              </p>
              <p>Acima de tudo, é fundamental ressaltar que o desafiador cenário globalizado possibilita uma melhor visão global
                dos níveis de motivação departamental.</p>
              <p>
                <strong>Titulo</strong>
              </p>
              <p>Acima de tudo, é fundamental ressaltar que o desafiador cenário globalizado possibilita uma melhor visão global
                dos níveis de motivação departamental.</p>
            </div>
          </div>
          <hr>
          <button (click)='goCreateTask()' type="button" class="btn btn-primary btn btn-block">Criar Tarefa</button>
        </div>
      </div>
    </div>
  </div>
</div>