<div class="container-fluid">
  <div class="row">
    <div class="col">
      <div class="card">
        <div class="card-body">
          <h2 class="text-center">Escalonador de Tarefas em Lotes</h2>
          <div class="container">
            <h5 class="text-center mt-20">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec convallis id neque nec molestie. In fringilla
              ligula sit amet metus ornare dignissim. Pellentesque at libero non ex aliquam molestie et id est. Nulla et
              porta dui. Maecenas et ipsum nec justo venenatis varius. Proin quam mauris, iaculis vel viverra at, porttitor
              a mi.</h5>
            <h5 class="text-center info-btn">
              <button (click)='goChooseAlgorithm()' type="button" class="btn btn-primary mr-10">Iniciar</button>
              <button type="button" class="btn btn-dark" style="width: 121px;">
                <i class="fab fa-github"></i> GitHub</button>
            </h5>
            <h5 class="text-center info-btn">
              <button type="button" class="btn btn-dark mr-10">
                <i class="fab fa-github"></i>
              </button>
              <button type="button" class="btn btn-primary mr-10">
                <i class="fab fa-facebook-square"></i>
              </button>
              <button type="button" class="btn btn-linkedin mr-10">
                <i class="fab fa-linkedin"></i>
              </button>
              <button type="button" class="btn btn-google">
                <i class="fab fa-google"></i>
              </button>
            </h5>
            <h6 class="text-center">@FelipeGerolomo</h6>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>